[submodule "StormByte Suite - Logger"]
	path = thirdparty/StormByte/logger/src
	url = https://github.com/StormByte-Suite/StormByte-Logger.git
[submodule "MariaDB Connector C"]
	path = thirdparty/mariadb/mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c.git
[submodule "StormByte Suite - BuildMaster"]
	path = buildmaster
	url = https://github.com/StormByte-Suite/StormByte-BuildMaster.git
[submodule "PostgreSQL"]
	path = thirdparty/postgres/src
	url = https://github.com/postgres/postgres.git
[submodule "FreeTDS"]
	path = thirdparty/freetds/src
	url = https://github.com/FreeTDS/freetds.git
[submodule "Gperf"]
	path = thirdparty/freetds/gperf/src
	url = https://github.com/jwinarske/gperf.git
	branch = cmake
