[submodule "thirdparty/StormByte/base"]
	path = thirdparty/StormByte/base
	url = https://github.com/StormBytePP/StormByte.git
[submodule "thirdparty/StormByte/logger"]
	path = thirdparty/StormByte/logger
	url = https://github.com/StormBytePP/StormByte-Logger.git
[submodule "thirdparty/postgres/postgres"]
	path = thirdparty/postgres/postgres
	url = https://github.com/postgres/postgres.git
[submodule "thirdparty/mariadb/mariadb-connector-c"]
	path = thirdparty/mariadb/mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c.git
