name: Documentation Deployment

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  docs:
    uses: stormbytepp/githubactions/.github/workflows/generate-and-deploy-docs.yml@master
    with:
      doc_target: StormByteDatabaseDoc
      extra-cmake-options: -DENABLE_DOC=ON -DWITH_STORMBYTE=BUNDLED -DWITH_MARIADB=OFF -DWITH_POSTGRES=OFF -DWITH_SQLITE=OFF
